/* Reset */
*{margin:0px;padding:0px; font-family:sans serif}
a{ text-decoration:none;}
ul,li{list-style:;}
body{background:#eee}
.width1200{width:1200px; margin:0px auto;}



/* navigasyon  */
.nav{height:90px; background:#26292B; }
.nav ul{float:right}
.nav ul li {float:left;display:block;margin-top:40px;}
.nav ul li a{color:#FAFAFA; padding:5px 10px;font-size:16px; }
.nav img{height:70px; margin-top:10px;}
.nav ul li a:hover{color:#F03916}


/* Masaüstü Ortamı */
.desktop{height:400px; background:#26292B;}
.desktopyazi{width:400px; height:400px;float:left; color:#FAFAFA; line-height:35px; font-size:20px;}
.desktopyazi h2{color:#F03916; font-size:30px; margin-top:10px; margin-bottom:20px;}
.desktop img{ height:300px; margin-top:50px; float:right}
.desktopyazi a{ background:#F03916; color:#FAFAFA; padding:10px 17px; border-radius:8px;}



/* content */
.content{height:330px; background:#999; padding-top:60px;}
.width600{width:500px; padding-right:100px; height:350px; float:left; line-height:35px; font-size:20px; }



/*galeri*/

.galeri{height:280px; background:#FAFAFA; }
.imgbox{float:left; margin:20px 28px; border:1px solid #999; filter:opacity(0.7); transition:0.4s }
.imgbox:hover{filter:opacity(1)}
.galeri img{ height:200px; width:300px;}


.galeri1{height:5000px; background:#FAFAFA; }
.imgbox1{float:center; margin:20px 28px; border:5px solid #999; filter:opacity(0.7); transition:0.4s }
.imgbox1:hover{filter:opacity(1)}
.galeri1 img{ height:200px; width:500px;}


/* Footer */
.footer{height:100px; background:#26292B; padding-top:30px; font-size:16px; color:#FAFAFA}
.footer a{color:#FAFAFA; padding-left:10px;}
.footer a:hover{color:#F03916}


/* Hakkımızda Sayfası */
.hakkimizda{background:#fff; width:1100px; padding:50px; height:900px; text-align:center; margin:40px auto;border-radius:5px 5px 0px 0px;}
.hakkimizda h1 {color:#F03916; margin:0px 20px;}
.hakkimizda span{font-size:18px; line-height:25px; color:#444; text-align:left;}
.hakkimizda img{ width:100px;}
.hakkimizda a{color:#71C837;}
.hakkimizda a:hover{border-bottom:1px solid}

